@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    background-color: #151515 ;
    color: #FFFFFF;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75vw;
    margin: 0 auto;
    padding: 1.5rem 0;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: -0.444444px;
}
.list_item{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.heading{
font-size: 5.5rem;
}
.heading span {
    border-bottom: 3px solid #4EE1A0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 75vw;
    margin: 0 auto;
}
